.planes-container-slider{
    justify-content: center;
}

.contenedor-tarjetas{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.planes-container-slider{ 
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}