:root{
    --fondo-portada: rgb(25,7,73);
    --morado-fondo: rgb(45, 7, 73);
}

header{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 330px;
    text-align: center;
    background: var(--fondo-portada);
    border-radius: 20px;
}

.header-box{
    text-align: center;
    align-items: center;
}
.header-title{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: 26px;
    line-height: 26px;
    text-align: center;
    color: white
}

.header-parag{
    font-family: Arial, Helvetica, sans-serif;
    font-style:italic;
    font-size: 16px;
    color: antiquewhite;
    margin-bottom: 15px;
}

.header-button{
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-style: oblique;
    text-decoration-line: none;
    padding-top: 15px;
    margin: top 10px;
}

.wallet-box{
    margin-top: 20px;
    text-align: center;
    align-items: center;
    margin-bottom: 70px;
}

.wallet-box h1{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: 26px;
    line-height: 26px;
    color: black
}

.wallet-box p{
    font-family: Arial, Helvetica, sans-serif;
    font-style:italic;
    font-size: 16px;
    color: var(--fondo-portada);
}

.main-container-tablas{
    margin:0 auto;
    align-items: center;
}

.main-container-tablas h3{
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: center;
    color: #3d6dbf;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor-grid{
    width: 40%;
    margin: 0 auto;
    display: grid;
    gap: 8px;
    justify-content: center;
    grid-template-columns: repeat(2,minmax(150px,250px));
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor-grid-item{
    padding: 15px;
    background-color: var(--fondo-portada);
    color: white;
    border-radius: 10px;
}

.contenedor-time{
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: #3d6dbf;
    color: white;
    border-radius: 10px;
}

.logo-separador img{
    height: 150px;
    width: 150px;
    padding: 35px;
}

.logo-separador{
    align-items: center;
    text-align: center;
}

.main-detalles{
    margin:0 auto;
    align-items: center;
    background-color: #3d6dbf;
    text-align: center;
    padding: 10px;
}

.main-detalles h3{
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.main-detalles p{
        font-family: Arial, Helvetica, sans-serif;
        font-style:italic;
        font-size: 16px;
        color: white;
}

.main-tarjetas{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 20px auto;
    padding: 15px;
    background-color: rgb(221, 144, 219);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    color: white;
}

.main-tarjetas h1{
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
    color:var(--fondo-portada);
    font-family: Arial, Helvetica, sans-serif;
}


.main-tarjetas p{
    font-family: Arial, Helvetica, sans-serif;
    font-style:italic;
    font-size: 16px;
    color: white;
}

.main-tarjetas img{
    shape-outside: white;
    width: 35px;
    height: 35px;
    align-items: left;
}

.moneda-intermedia{
    background-color: var(--morado-fondo);
    padding: 5px;
    align-content: center;
}

.moneda-intermedia h3{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 35px;
}

.banner-img{
    margin: 0 auto;
    width: 800px;
    height: 350px;
    background-image:url(./img/cripto.png);
    background-color: var(--morado-fondo);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-cont-planes{
    width: 100%;
    min-height: 320px;
    padding-bottom: 70px;
    text-align: center;
}
.planes-title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 40px;
}
.planes-title h2{
    padding-top: 50px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 30px;
    color: #FFFFFF;
}

.container-tarjetas-slider{
    display: flex;
    height: 400px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.planes-container-slider{
    display: flex;
    height: 400px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.planes-card{
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 190px;
    max-width: 350px;
    height: 350px;
    margin: 15px 15px;
    padding: 0px 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.recomendado{
    position: absolute;
    width: 120px;
    height: 20px;
    top: -20px;
    left: calc(50% - 60px);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    background-color: #024059;
    border-radius: 8px;
    color: white;
}
.plan-info-title{
    padding-top: 30px;
    font-size: 14px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 18px;
}
.plan-info-precio{
    padding: 5px 0;
    font-size: 53px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.plan-info-precio span{
    font-size: 15px;
    font-weight: 300;
    vertical-align: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.plan-info-ahorro{
    font-size: 12px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.plan-info-ca{
    width: 150px;
    height: 48px;
    margin-top: 5px;
    background-color: #68CA92;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}





